<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STARTTIPS_KEY_FOR_BACKGROUND_COLOR_R</key>
	<string>50</string>
    <key>STARTTIPS_KEY_FOR_BACKGROUND_COLOR_G</key>
    <string>173</string>
    <key>STARTTIPS_KEY_FOR_BACKGROUND_COLOR_B</key>
    <string>113</string>
    <key>STARTTIPS_KEY_FOR_BACKGROUND_COLOR_A</key>
    <string>1</string>
    <key>STARTTIPS_KEY_FOR_DETAIL_TEXT</key>
    <string>fouth page detail</string>
    <key>STARTTIPS_KEY_FOR_TEXT</key>
    <string>fouth page title</string>
</dict>
</plist>
